div.blog-post
  h3 Super heading to post 
  h5.blog-post-date
    small.blog-post-date-small 02-09-2017
  img.thumbnail(src="https://placehold.it/850x350")
  p Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.
  a.blog-post-more(href="#") read more...
  hr