div.callout.large.page-header
    div.row.column.text-center
        div.social-icon.facebook
            +svg('fi-social-facebook')
        div.social-icon.google-plus
            +svg('fi-social-google-plus')
        div.social-icon.github
            +svg('fi-social-github')