div#offcanvas-full-screen.offcanvas-full-screen(data-off-canvas data-transition="overlap")
  div.offcanvas-full-screen-inner
    button.offcanvas-full-screen-close(aria-label="Close menu" type="button" data-close)
      span(aria-hidden="true") &times;

    ul.offcanvas-full-screen-menu
      li
        a(href="#") Home
        a(href="#") Blog
        a(href="#") About
        a(href="#") Services

div.off-canvas-content(data-off-canvas-content)
  div.top-bar
    div.top-bar-right
      button.menu-icon.dark(type="button" data-toggle="offcanvas-full-screen")
