include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/page-header.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Contacts')
    include pug/styles.pug
  body
    div.contact-body
    include pug/svg.pug
    include pug/includes/top-navbar.pug

    include pug/includes/social.pug

    include pug/scripts.pug
