include pug/project-settings.pug
include pug/mixins/mixins.pug
include pug/mixins/page-header.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Main')
    include pug/styles.pug
  body
    include pug/svg.pug
    include pug/includes/top-navbar-main.pug

    include pug/includes/main-title.pug

    include pug/scripts.pug
